
#p-button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20%;
    height: 8vh;
    border: 1px solid red;
    border-radius: 4vh;
}

.f-div{
    height: 100vh;
    padding-top: 10vh;
    background-image: url("Back1.jpg");
}

.d-uselist{
    background-image: url("Back1.jpg");
    min-height: 100vh;
    width:100%;
}

.i-adduser{
    width:80%;
    margin-left: 8%;
}

.user-input{
    border: solid 1px grey;
    margin-left: 10vw;
    width: 80vw;
    height: 10vh;
    border-radius: 5vh;
}

.Newuser{
    background-color:darkslategrey;
    width: 100%;
    height: 15vh;
    text-align: center;
    padding-top: 3vh;
    font-size: 4em;
    color:#eee;
    font-family:monospace;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.A-Label{
    color: #eee;
    padding-left: 8%;
    font-size: 1.2em;
}

input[type=radio]{
    transform:scale(1.4);
}

.btn-s{
    width: 40%;
    height: 6vh;
    border-radius: 3vh;
    background-color:aqua ;
    margin-left: 2%;
}